*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Arimo', sans-serif;

}
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

.container{
  width: 1200px;
  margin: 2% auto;
  height: 80vh;
}
.container:after{
  content: '';
  display: table;
  clear: both;
}
a{
  text-decoration: none;
}


/* sezione sinistra utenti */
 #barra-utenti{
   height: 70vh;
   width: 33%;
   float: left;
 }

.mio-profilo , .utente , .notifiche{
  padding: 15px;
}
.mio-profilo{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: rgb(214, 214, 214);
  align-items: center;
}
.immagine-small{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
  margin-right: 10px;
}


.notifiche{
  display: flex;
  height: 100px;
  background: rgb(176, 213, 235);
  align-items: center;
}
.notifiche .immagine{
  margin-right: 10px;
}
.immagine{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}



#search{
  height: 40px;
  width: 90%;
  margin: auto;
  margin: 20px 0;
  margin-left: 15px;
}






#lista-utenti{
  height: calc(80vh - 260px);
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
}

#lista-utenti .utente{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: white;
  height: 100px;
  transition: .3s;
}
#lista-utenti .utente:hover{
  background: rgb(228, 228, 228);
}
#lista-utenti .active{
  background: rgb(176, 176, 176)
}
#lista-utenti .active:hover{
  background: rgb(176, 176, 176)
}
.dettagli-utente{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  align-items: flex-start;
}
.dettagli-utente div{
  width: 100%;
}
.nome{
  margin:0;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: rgb(48, 48, 48);
  font-weight: bold;
}

.messaggio{
  font-size: 15px;
  color: rgb(121, 121, 121);
}

.ore{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: gray;
}






/* sezione dei messaggi */
.contenitore{
  position: relative;
  height: 100%;
  height: 100%;
  width: 67%;
  position: relative;
  float: left;
  padding-bottom: 70px;
}


#messaggi{
  background-image:url("bk.png");
  height: 100%;
  overflow-x: auto;
  position: relative;
  padding: 80px 0 70px 0 ;
}

#barra-profilo{
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background: rgb(214, 214, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  z-index: 2;
}

.info{
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.info p , .info h3{
  width: 100%;
  margin-left: 5px;
  margin-bottom: 3px;
}



#barra{
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background: rgb(186, 186, 186);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}
#barra input{
  width: 80%;
  margin: auto;
  height: 40px;
}

#barra i{
  font-size: 2rem;
  color: white;
  padding: 10px;
}

.mio-profilo i , #barra-profilo i {
  font-size: 1.4rem;
  color: rgb(135, 135, 135);
  margin: 4px;
}
.mio-profilo i:hover , #barra-profilo i:hover , #barra i:hover{
  cursor: pointer;
}





#lista-messaggi{
  padding: 50px;

}


.texto{
  font-size: 1.2rem;
  min-width: 80px;
  color: black;

}
.msg-inviato{
  margin: 50px 0;
  display: flex;
  justify-content: flex-end;
}


.msg-risp{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
 .msg-risp p{
   background: rgb(194, 245, 181)
 }

.testo-messaggio , .msg-risp p {
  margin:0;
  padding: 10px 20px;
  border-radius: 7px;
}

.testo-messaggio{
  background: white;
  max-width: 50%;
}

.orario{
  font-size: 1rem;
  align-self: center;
  margin-left: 10px;
}









#template{
  display: none;
}















  /*  */
